.bodyTop{
    position:static;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 25%;
    padding-right: 25%; */
}
.squares{
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 50%;
  height: auto;
  background-color: white;
}
.squares-img{
    width: 100%;
}

.squares h3, p, h4{
    text-align: center;
}