.footer{
    background-color: #81d1c1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height:20vh ;
    font-family: Barlow;
    color: hsl(167, 40%, 24%);

}
.company-name{
    background-color: #81d1c1;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: Barlow;
    font-size: 18pt;
    font-weight: 900;
}
.links ul li{
    list-style: none;
    display: inline;
    margin: 0 30px;
}
.social-media ul li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}

.social-media{
    margin-top: 50px;
}