/* .header-container{
    background-image: url("/src/components/images/desktop/image-header.jpg");
} */

.header-container{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    min-height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3EBFFF;
}
.menu{
    position: absolute;
    justify-content: flex-end;
    right: 0;
    display: table;
    margin: 0 auto;
}
.menu-list{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}
.menu-list li{
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-size: 12pt;
    font-family: Barlow;
}

.arrow-text{
    margin: 8% auto ;
    align-content: center;
    text-align: center;
    color: white;
}
h1{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 30pt;
    letter-spacing: .5em;
    margin-top: 0;
}

.companyName{
    height: 55px;
}

.arrow{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 15%;
}

